.header {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: 10vh;
  border-bottom: 1px solid lightgray;
  padding-inline: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  max-width: var(--max-width);
  padding: 0 15px;
  height: 100%;
}
