.card {
  margin: 20px 0;
  width: 49%;
}

.card_big {
  width: 100%;
  margin-bottom: 40px;
  background-color: var(--primary);
}

.card_big h4,
.card_big div {
  color: #fff;
}

@media (min-width: 768px) {
  .card {
    width: 31%;
  }
}
