.card_wrapper {
  width: 100%;
}

.card {
  width: 100%;
}

.card div + div {
  padding-bottom: 0 !important;
}

.card img {
  object-fit: cover;
}

.card_title {
  height: 90px;
}

.card_details {
  color: gray;
}

.card_big {
  width: 100%;
  margin-bottom: 40px;
  background-color: var(--primary);
}

@media (min-width: 768px) {
  .card_wrapper {
    width: 50%;
  }

  .card {
    width: 97%;
  }
}
