.list_item {
  width: 100%;
  justify-content: center !important;
}

.list_item_meta {
  flex: unset !important;
  justify-content: center;
  width: 50%;
  word-break: break-all;
}

.list_item_avatar {
  border-radius: 0;
  height: 25px;
  width: 45px;
  border: 1px solid lightgray;
}

a.link:hover {
  color: var(--primary) !important;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .list_item_meta {
    width: 25%;
  }
}

@media (min-width: 1100px) {
  .list_item_meta {
    width: 85%;
  }
}
