.footer {
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background-color: var(--primary);
  height: 10vh;
  z-index: 1000;
  color: #fff;
}

.footer_text {
  color: #fff;
  margin-right: 5px;
}

.footer_divider {
  background-color: #fff;
  height: 1.6em;
  margin-right: 15px;
}
