.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #121221;
  height: 10vh;
  z-index: 1000;
}

.footer_text {
  color: #fff;
}

.footer_divider {
  background-color: #fff;
  height: 1.6em;
}
