.menu {
  border-bottom: 0;
}

.menu_item:hover {
  transform: scale(1.1);
}

.menu_item {
  transition: transform 0.2s ease !important;
}

@media (min-width: 768px) {
  .menu_item_mobile span {
    display: none;
  }
}
